@CHARSET "UTF-8";

h3{
	width: 100%;
	font-size: 1.1em;
	font-family: verdana;
	margin-top: 20px;
	margin-bottom: 3px;
	color: rgb( 10,10,70);
	border-bottom-width: 1px;
	border-bottom-color: rgb( 10,10,70);
	border-bottom-style: solid;
}