@CHARSET "UTF-8";

h3{
	width: 100%;
	font-size: 1em;
	font-family: verdana;
	margin: 0px 0px 5px;
	color: rgb( 10,10,70);
	border-bottom-width: 1px;
	border-bottom-color: rgb( 10,10,70);
	border-bottom-style: solid;
}