@CHARSET "UTF-8";

@media ( max-width: 400px){

	body form fieldset {	
		margin: auto;
		width: auto;
		text-align: left;
		height: auto;
	}
	
	input[type="text"], input[type="email"], input[type="url"], input[type="password"] {
	   	width: 100%;
	}
}

.ui-fieldset-legend{
	text-align: left!important;	
	width: auto!important;
}

@media ( min-width: 401px) {
	
	body form fieldset {	
		width: 300px;
		text-align: right;
		height: 170px;
	}
	
	
	input[type="text"], input[type="email"], input[type="url"], input[type="password"] {
	   	width: 80%;
	}
}

#divInputsLogin{
	margin-top: 10px;
}

label {
    margin-right: 5px;
}

.tituloTela{
	margin-top: 20px;
	margin-bottom: 30px;
}

.textoPadraoInput{
	font-size: 12px;
	size: 100%;
}

.ui-fieldset{
	font-family: "Verdana";
    left: 100%;
    margin: auto;
    top: 50%;
}

#divBotaoOk{
	text-align: center;
}