@CHARSET "ISO-8859-1";

input[type="text"] {
	width: 100%;
	size: 60px;
}

input[type="password"] {
	width: 100%;
	size: 60px;
}

@media ( max-width : 600px) {
	.centraliza-bloco {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media ( min-width : 701px) and ( max-width : 800px) {
	.centraliza-bloco {
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media ( min-width : 801px) and ( max-width : 900px) {
	.centraliza-bloco {
		margin-left: 20%;
		margin-right: 20%;
	}
}

@media ( min-width : 901px) and ( max-width : 1100px) {
	.centraliza-bloco {
		margin-left: 25%;
		margin-right: 25%;
	}
}

@media ( min-width : 1101px) and ( max-width : 1300px) {
	.centraliza-bloco {
		margin-left: 30%;
		margin-right: 30%;
	}
}

@media ( min-width : 1301px) {
	.centraliza-bloco {
		margin-left: 35%;
		margin-right: 35%;
	}
	
	.tituloOperacaoTela{
		font-size: 28px;
	}
}