@CHARSET "UTF-8";

@media ( max-width: 400px){

	body form fieldset {	
		margin: auto;
		width: auto;
		text-align: left;
		height: auto;
	}
	
	input[type="text"], input[type="email"], input[type="url"], input[type="password"] {
	   	width: 100%;
	}
}

.ui-fieldset-legend{
	text-align: left!important;	
	width: auto!important;
}

@media ( min-width: 401px) {
	
	body form fieldset {	
		width: 300px;
		text-align: right;
		height: 170px;
	}
	
	
	input[type="text"], input[type="email"], input[type="url"], input[type="password"] {
	   	width: 80%;
	}
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield{
	margin-bottom: 10px;
}

#pnlForm{
	height: 85%;
}

.ui-fieldset-content{
	margin-top: 10px;
}

label {
    margin-right: 5px;
}

.ui-fieldset{
	font-family: "Verdana";
    left: 38%;
    margin-top:auto;
    margin-left:auto;
    top: 35%;
    position: absolute;
}

#divBotaoOk{
	margin-top: 10px;
	text-align: center;
}