@CHARSET "UTF-8";

#botaoSalvar{
	margin-left: 45%;
	padding: 5px;
	font-weight: bold;
	margin-top: 20px;
}

.ui-icon-triangle-1-s {
    background-position: -68px -16px;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"] {
    width: auto;
}

fieldset{
	margin: 15px;
}

.ui-tabs .ui-tabs-panel{
	background: rgb(249, 249, 249);
	border-width: 1px;
	width: 98%;
	margin-left: 14px;
}

.ui-selectonemenu .ui-selectonemenu-label{
	padding-right: 30px;
	width: auto!important;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a, .ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a{
	background-image: -moz-linear-gradient(center top , #ffffff, #e6e6e6);
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav{
	padding: 0.2em 1.1em 0;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li a{
	color: #bebebe;
	border-bottom: 1px solid #ffffff transparent;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	margin-top: 15px;
    margin-bottom: 2px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.ui-tabs .ui-tabs-nav.ui-widget-header{
	border-bottom: none;	
}

.ui-tabs.ui-widget-content{
	border-style: none;
}

#botaoSalvarItem{
	margin-right: 10px;
}

#tblItensNota{
	float: left;
	width: 98%;
}

table{
	margin-left: 15px;
}

table img{
	width: 22px;
	height: 22px;
}

.colunaProduto{
	width: 50%;
}

.colunaValorUnitario{
	text-align: right;
	width: 10%;
}

.colunaValorTotal{
	text-align: right;
	width: 12%;
}

.colunaQuantidade{
	text-align: right;
	width: 10%;
}

.colunaAlterar{
	text-align: center;
	width: 9%;
}

.colunaExcluir{
	text-align: center;
	width: 9%;
}

h3{
	font-size: 1em;
	font-family: verdana;
	margin: 15px 15px 3px;
	color: rgb( 10,10,70);
	border-bottom-width: 1px;
	border-bottom-color: rgb( 10,10,70);
	border-bottom-style: solid;
}

.espaco{
	 margin-left: 1%;
     margin-top: 1%;
}

.campoForm{
	display: block;
	padding: 3px;
	margin-left: 3px;
	font-weight: normal;
}

form > div > div > div > fieldset > div > div > label{
	float: left;
    padding-top: 3px;
    width: 4%;
}

form > div > div > div > div > fieldset > div > div > label{
	float: left;
    padding-top: 6px;
    width: 6%;
}

button{
	margin-top: 15px;
	font-size: 5px;
}