@CHARSET "UTF-8";

#botaoSalvar{
	margin-left: 45%;
	padding: 5px;
	font-weight: bold;
	margin-top: 20px;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"] {
    width: auto;
}

.ui-menu .ui-menuitem-link{
	width: 100%;
}

fieldset{
	margin: 15px;
}

#tblMenu{
	width: 100%;
}


.ui-tabs.ui-tabs-top > .ui-tabs-nav{
	padding:0;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header{
	border-bottom: none;
}

#cabecalho{
	margin-bottom: 25px;
}

.ui-tabs .ui-tabs-panel{
	background: rgb(249, 249, 249);
	border-width: 1px;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li a{
    padding-bottom: 4px;
    padding-top: 4px;
}

.ui-tabs .ui-tabs-nav.ui-widget-header{
	border-bottom: none;	
}

.ui-tabs.ui-widget-content{
	border-style: none;
}

#botaoSalvarItem{
	margin-right: 10px;
}

table img{
	width: 22px;
	height: 22px;
}

.ui-panelgrid{
	width: 100%;
}

.ui-panelgrid .ui-panelgrid-cell{
	padding: 0px;
}

.ui-panelgrid-cell{
	width: 0%;
}

.colunaProduto{
	width: 50%;
}

.colunaValorUnitario{
	text-align: right;
	width: 10%;
}

.colunaValorTotal{
	text-align: right;
	width: 12%;
}

.colunaQuantidade{
	text-align: right;
	width: 10%;
}

.colunaAlterar{
	text-align: center;
	width: 9%;
}

.colunaExcluir{
	text-align: center;
	width: 9%;
}

h3{
	font-size: 1em;
	font-family: verdana;
	margin: 15px 0px 3px;
	color: rgb( 10,10,70);
	border-bottom-width: 1px;
	border-bottom-color: rgb( 10,10,70);
	border-bottom-style: solid;
}

.espaco{
	 margin-left: 1%;
     margin-top: 1%;
}

.campoForm{
	display: block;
	padding: 3px;
	margin-left: 3px;
	font-weight: normal;
}

form > div > div > div > fieldset > div > div > label{
	float: left;
    padding-top: 3px;
    width: 4%;
}

form > div > div > div > div > fieldset > div > div > label{
	float: left;
    padding-top: 6px;
    width: 6%;
}

button{
	margin-top: 15px;
	font-size: 5px;
}