@CHARSET "UTF-8";

.colunaNome{
	width: 25%;
}

.colunaDescricao{
	width: 40%;
}

.colunaPreco{
	text-align: right;
	width: 15%;
}

.colunaAlterar{
	text-align: center;
	width: 10%;
}

.colunaExcluir{
	text-align: center;
	width: 10%;
}

#formCadastroProduto{
	margin-top: 20px;
	margin-bottom: 40px;
}

#divBotoes{
	margin-top: 20px;
}

#botaoGravar{
	margin-right: 10px;
}

table img{
	width: 22px;
	height: 22px;
}